.sidebar {
	/* flex-basis: 56rem; */
	background-color: var(--color-dark--1);
	border-right: 1px solid #555;
	padding: 3rem 3rem 3.5rem 3rem;

	display: flex;
	flex-direction: column;
	align-items: center;

	position: absolute;
	inset: 0;
	right: initial;

	height: 100%;
	/* width: 100%; */

	z-index: 8000;
	transition: transform 0.3s;
	transform: translateX(-100%);

	@media (min-width: 1024px) {
		transform: translateX(0%);
		position: initial;
		padding: 3rem 5rem 3.5rem 5rem;
	}
}

.sidebar.show {
	max-width: 50rem;
	width: 100%;
	transform: translateX(0%);
}

.footer {
	margin-top: auto;
}

.sidebar > button {
	cursor: pointer;
	padding: 0.1rem 0.2rem;
	align-items: center;
	justify-content: center;
	background-color: #444;
	border-radius: 4px;
	color: #aaa;
	font-size: 2.8rem;
	outline: 0;
	border: 0;
	position: absolute;
	top: 14px;
	right: 14px;
	display: flex;

	@media (min-width: 1024px) {
		display: none;
	}
}

.copyright {
	font-size: 1.2rem;
	color: var(--color-light--1);
}
